# config for crumb

# python modules
import logging

# location of main read / write directory (needs trailing slash)
fs_root = "/foo/bar/crumb_storage"

# logging level
logging.basicConfig(level=logging.INFO)

# default crumb_http port:
crumb_http_port = ####

# prefix for reverse_proxy
# if none, leave blank, otherwise encapsulate lead with backslash, but remove at end, e.g. "/crumb"
crumb_http_prefix = "/crumb"